
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  /* color: #d72323  !important; */
}


html {
  scroll-behavior: smooth;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.75;
}

.banner .banner-content {
  position: absolute;
  left: 30px;
  top: 20%;
  max-width: 750px;
  text-align: center;
}

.banner .banner-content h2 {
  color: #fff;
  font-size: 60px;
}

.banner .banner-content p {
  color: #fff;
  font-size: 18px;
}


/* ---------------------------  MENU CARDS ON INDEX ---------------------------  */

.choose-header {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  background: #212121;
  color: #fff;
  padding: 15px;
}

.oriental-food {
  background: url(../images/pexels-food.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  max-width: 750px;
  flex: 1 0 auto;
  z-index: 1;
  margin: 0 auto;
}

.container .card {
  position: relative;
  max-width: 500px;
  max-height: 500px;
  margin: 30px auto 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  /* background: rgba(255, 255, 255, 0.1); */
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  transition: 0.5s ease-in-out;
}

.container .card .content {
  /* padding: 20px; */
  text-align: center;
  transition: 0.5s;
  
}

.container .card h2 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.8em;
  color: #fff;
  pointer-events: none;
}

.container .card p {
  position: absolute;
  top: 80px;
  right: 150px;
  font-size: 1em;
  color: #fff;
  z-index: 1;
  font-weight: 300;
  max-width: 60%;

}

.chinese-food-box {
  background: url(../images/chinese-food-img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}


.teppanyaki-food-box {
  background: url(../images/teppanyaki.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}

.sushi-food-box {
  background: url(../images/sushi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}

.chinese-food-box:hover,
.teppanyaki-food-box:hover,
.sushi-food-box:hover {
  opacity: 1;
}


video {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

video:hover {
  opacity: 1;
  max-width: 100%;
  margin: 0 auto;
}


.container .card a {
  position: absolute;
  top: 440px;
  right: 20px;
  padding: 8px 20px;
  /* margin-left: 75px; */
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  opacity: 0.8;
  font-weight: 500;
  transition: 0.5s ease-in-out;

}

.container .card a:hover {
  transform: scale(1.1);
  background-color: #d72323;
  opacity: 1;
}

.reservation {
  background-color: #212121;
  /* margin: 50px; */
  text-align: center;
}

.reservation a  {
  position: relative;
    display: inline-block;
    padding: 16px 48px;
    background: #212121;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    opacity: 0.8;
    font-size: 2em;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    overflow: hidden;
}

.reservation a:hover {
  transform: scale(1.1);
  color: #d72323;
  opacity: 1;
  background: none;
}



/* --------------------------- SUSHI MENU INDEX --------------------------- */



.menu-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  padding: 100px 0;
}

#title {
  font-size: 3rem;
  padding: 15px 0;
  max-width: 88%;
  margin: 0 auto;

}
#sub-title {
  padding-bottom: 20px;
  max-width: 88%;
  margin: 0 auto;
}


.sushi-rolls {
  position: relative;
  max-width: 70%;
  /* background-color: #fff; */
  padding-bottom: 50px;
  color: #111;
  margin: 0 auto;
}


.img-box {
  /* background-color: #303841; */
  /* max-width: 70%; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  /* overflow: auto; */
}


.img-box p,
.img-box h2{
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 10px;
}



.img-box img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
  padding: 25px 0;
}



.sushi-rolls .img-box img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.roll-info {
  flex: 1 0 33.33%;
}


/* ---------------------------  SECTIONS BACKGROUNDS SUSHI MENU INDEX --------------------------- */

.sushi-menu-banner{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sushi-menu-banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.75;
}

/* -------------------------------- CONTACT --------------------------------- */

.contact {
  background-color: #212121;

}


.content {
  padding: 50px;
}

.white {
  color: #fff;
}


.contact-info-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.contact-info-box .box {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}

.contact-info-box .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  display: inline-block;
}


.contact-info-box .box .text {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.contact-info-box .box .text h3 {
  font-weight: 500;
  color: #fff;
}

.contact-info-box .box .text p {
  text-align: center;
  text-decoration: none;
  color: #fff;
  
}

/* ---------------------------------------- FOOTER --------------------------------------- */


.footer {
  background-color: #303841;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer /*ul*/ li {
  list-style: none;
}

.footer /*ul*/ li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.footer /*ul*/ li a img {
  filter: invert(1);
  max-width: 20px;
  transition: 0.2s ease-in-out;
}

.footer /*ul*/ li a img:hover {
  transform: scale(1.1);
}


/* ----------------------------------- MOBILE RESPONSIVE -------------------------------------- */


@media (max-width: 650px) {

  .banner .banner-content {
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
  }

  .banner .banner-content h2 {
    font-size: 40px;
  }

  .banner .banner-content p {
    font-size: 16px;
  }


  .container .card {
    max-width: 300px;
    max-height: 300px;
    border-radius: 30px;
  }

  video {
    max-width: 100%;
    margin: 0 auto;
  }

.contact-info-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  }

.contact-info-box .box {
  position: relative;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  }

  /* .container .card a {
    position: relative;
    top: 0;
    right: 0;
    margin: 0 auto 120px auto;
    display: flex;
    justify-content: center;
  } */

  .container .card a {
    position: absolute;
    top: 250px;
    right: 20px;
  }
}