@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner .logo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 30px;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content {
    position: relative;
    max-width: 750px;
    text-align: center;
}

.banner .content h2 {
    color: #212121;
    font-size: 60px;
}

.banner .content p {
    color: #fff;
    font-size: 18px;
}

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.banner header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.banner header .toggle {
    position: relative;
    width: 36px;
    height: 28px;
    background: url(../images/toggle.png);
    background-size: cover;
    cursor: pointer;
}

/* <!--------------------------- ABOUT ---------------------------> */

.about {
    position: relative;
    width: 100%;
    display: flex;
}

.about .contentBx {
    background: #212121;
    padding: 100px;
    width: 50%;
}

.heading {
    color: #0d7377;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
}

.text {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.about .imgBx {
    background: url(../images/about-us.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* <!------------------------------ MENU ----------------------------> */

.vistas-menu {
    background: url(../images/menu-background.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    padding: 100px;
    text-align: center;
}

.vistas-menu .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.vistas-menu .container .menuBx {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    margin: 0 auto;
}


.vistas-menu .container .menuBx a {
    display: inline-block;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #0d7377;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.vistas-menu .container .menuBx a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}

/* <!--------------------- LOCATION --------------------> */

.vistas-location {
    background-color: #212121;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    padding: 100px;
    text-align: center;
}

iframe {
    border-radius: 20px;
    width: 100%;
}

.vistas-location .imgBx {
    margin-top: 40px;
}

.vistas-location .imgBx img {
    border-radius: 20px;
    max-width: 500px;
    min-height: 450px;
    margin: 20px;
    opacity: 0.75;
    cursor: pointer;
    transition: 0.5s ease-in-out ;
}

.vistas-location .imgBx img:hover {
    opacity: 1;

}

/* <!--------------------------- CONTACT ----------------------------> */


.contact {
    padding: 100px;
    background: #232323;
    text-align: center;
}

.imgBx2 {
    background: url(../images/pexels-cottonbro-4255489.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}

.black-bg {
    background: #212121 !important;
    background-size: cover;
    background-position: center;
}

.form .inputBx {
    margin-bottom: 20px;
    text-align: center;
}

.form .inputBx input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
    text-align: center;
}

.form .inputBx input::placeholder {
    color: #fff;
}

.form .inputBx textarea {
    
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    min-height: 150px;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.form .inputBx textarea::placeholder {
    color: #fff;
}

.form .inputBx input[type="submit"] {
    width: 150px;
    background: #0d7377;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
}

#submit-btn {
    border: 0;
}


/* <!--------------------------- Footer -----------------------------> */

.footer {
    background: #111111;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer li {
    list-style: none;
    
}

.footer li a {
    text-decoration: none;
    
    margin: 0 10px;
}

.footer li a img {
    filter: invert(1);
    max-width: 20px;
}


@media (max-width: 991px)
{
    .banner {
        padding: 50px;
    }

    .banner header
    {
        padding: 20px 50px;
    }

    .banner .content h2 {
        font-size: 36px;
    }

    .banner .content p {
        font-size: 16px;
    }

    .about {
        flex-direction: column;
    }

    .about .contentBx,
    .about .imgBx {
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }

    .vistas-menu {
        padding: 50px;
    }

    .vistas-menu .container {
        justify-content: center;
        margin-top: 20px;
    }

    .vistas-menu .container .menuBx {
        margin: 20px;
        width: 300px;
        height:150px;
    }


    .client {
        padding: 50px;
    }

    .client .imgBx {
        justify-content: center;
    }

    input {
        width: 80%;
        padding: 16px;
        margin: 10px auto;
        font-size: 16px;
        text-align: center;
    }

    .contact {
        padding: 50px;
    }
    .footer {
        padding: 20px 50px;
        text-align: center;
    }

    .footer li {
        margin-bottom: 20px;
    }
}